
body{background-color: #ffcc5c;/* HTW-orange */font-size:1rem; color: #f6f1e5}

* {
    box-sizing: border-box;
}


#oben{background-color: #a67c00}
#unten{background-color: #bf9b30}
.flex_item_1{
background-color: #ffbf00;
    flex: 1;
}
.flex_item_2{
background-color: #ffcf40;
    flex: 4;

}
.flex_item_3{
background-color: #ffdc73;
    flex: 2;
}
.flex-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}

.flex-container > div{
    margin: 10px;
    padding: 20px;
    flex-wrap: wrap;
}
.flex-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}
@media screen and (max-width: 720px) {
    body{background-color:#0082D1; font-size:1.2rem;
        min-height: 100vh; color: black;}
    .flex_item_1, .flex_item_2, .flex_item_3{    display: flex;
        flex-direction: column;
        flex: 12;
        justify-content: space-between;
        min-width: 100%;}
    .flex-container{
        flex-direction: column;
    }

}